<!-- index.ejs -->
<html>
  <head>
    <title>Homepage</title>
  </head>
  <body>
    <ul>
        <% messages.forEach((message) => { %>
        <h1>Message : </h1>
        <h3>Text : </h3>
        <%= message.text %>
        <h3>User : </h3>
            <%= message.user %>
            <h3>Date added :</h3>
            <%= message.added %>

        <% }); %>
    </ul>  
  </body>
</html>
